<footer class="rounded-lg w-full mx-auto xl:w-[1120px] mb-8">
    <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
    >
        <span class="text-sm text-gray-400/80 sm:text-center"
            >© 2025 <a
                href="https://github.com/aaleex05/"
                class="hover:underline"
                >Alex Aperador.
            </a> Todos los derechos reservados.
        </span>
        <ul
            class="flex flex-wrap items-center text-sm font-medium text-gray-400/80 sm:mt-0"
        >
            <a href="#contacto" class="hover:underline">Contacto</a>
        </ul>
    </div>
</footer>
